{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="register-form-container">
        <h3 class="text-center">Регистрация</h3>
        {{ form_start(registrationForm) }}

        <!-- Первая строка -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.firstName, 'Имя:') }}
                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.username, 'Имя пользователя:') }}
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Имя пользователя'}}) }}
                </div>
            </div>
        </div>

        <!-- Вторая строка -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.lastName, 'Фамилия:') }}
                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Пароль:') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Пароль'}}) }}
                </div>
            </div>
        </div>

        <!-- Третья строка -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.middleName, 'Отчество:') }}
                    {{ form_widget(registrationForm.middleName, {'attr': {'class': 'form-control', 'placeholder': 'Отчество'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.confirmPassword, 'Подтверждение пароля:') }}
                    {{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Подтверждение пароля'}}) }}
                </div>
            </div>
        </div>

        <!-- Четвертая строка -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(registrationForm.age, 'Возраст:') }}
                    {{ form_widget(registrationForm.age, {'attr': {'class': 'form-control', 'placeholder': 'Возраст'}}) }}
                </div>
            </div>
        </div>

        <!-- Кнопка отправки -->
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </div>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}