{% extends 'base.html.twig' %}

{% block title %}Phone Directory{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-primary mb-4">Телефонный справочник</h1>
        <a href="{{ path('phone_new') }}" class="btn btn-success mb-3">Добавить новый телефон</a>

        <div class="row">
            {% for group in groupedPhones %}
                <div class="col-md-4">
                    <div class="user-card">
                        <h3>{{ group.user.lastName }} {{ group.user.firstName }}</h3>
                        <p><strong>Отчество:</strong> {{ group.user.middleName }}</p>
                        <p><strong>Телефоны:</strong></p>
                        <ul>
                            {% for phone in group.phones %}
                                <li>{{ phone.value }}</li>
                            {% endfor %}
                        </ul>
                        <div class="actions">
                            <a href="{{ path('phone_edit', {'id': group.phones[0].id}) }}" class="btn btn-primary btn-sm">Изменить</a>
                            <form action="{{ path('phone_delete', {'id': group.phones[0].id}) }}" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.phones[0].id) }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <p>No phones found</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}