{% extends 'base.html.twig' %}

{% block title %}Phone Directory{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-primary mb-4">Телефонный справочник</h1>
        <a href="{{ path('phone_new') }}" class="btn btn-success mb-3">Добавить новый телефон</a>

        <form action="{{ path('phone_index') }}" method="GET" class="mb-4">
            <div class="input-group">
                <select id="filterField" name="filterField" class="form-select" style="max-width: 200px;">
                    <option value="">Выберите поле</option>
                    <option value="user.lastName" {{ app.request.query.get('filterField') == 'user.lastName' ? 'selected' : '' }}>Last Name</option>
                    <option value="user.firstName" {{ app.request.query.get('filterField') == 'user.firstName' ? 'selected' : '' }}>First Name</option>
                    <option value="user.middleName" {{ app.request.query.get('filterField') == 'user.middleName' ? 'selected' : '' }}>Middle Name</option>
                    <option value="value" {{ app.request.query.get('filterField') == 'value' ? 'selected' : '' }}>Phone</option>
                </select>
                <input type="text" id="filterValue" name="filterValue" value="{{ app.request.query.get('filterValue') }}" class="form-control" placeholder="Искать...">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th><a href="{{ path('phone_index', {'sortBy': 'user.lastName', 'sortOrder': sortBy == 'user.lastName' and sortOrder == 'ASC' ? 'DESC' : 'ASC'}) }}">Last Name</a></th>
                    <th><a href="{{ path('phone_index', {'sortBy': 'user.firstName', 'sortOrder': sortBy == 'user.firstName' and sortOrder == 'ASC' ? 'DESC' : 'ASC'}) }}">First Name</a></th>
                    <th><a href="{{ path('phone_index', {'sortBy': 'user.middleName', 'sortOrder': sortBy == 'user.middleName' and sortOrder == 'ASC' ? 'DESC' : 'ASC'}) }}">Middle Name</a></th>
                    <th><a href="{{ path('phone_index', {'sortBy': 'value', 'sortOrder': sortBy == 'value' and sortOrder == 'ASC' ? 'DESC' : 'ASC'}) }}">Phone</a></th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groupedPhones %}
                    {% for phone in group.phones %}
                        <tr>
                            <td>{{ group.user.lastName }}</td>
                            <td>{{ group.user.firstName }}</td>
                            <td>{{ group.user.middleName }}</td>
                            <td>{{ phone.value }}</td>
                            <td class="actions">
                                <a href="{{ path('phone_edit', {'id': phone.id}) }}" class="btn btn-primary btn-sm">Изменить</a>
                                <form action="{{ path('phone_delete', {'id': phone.id}) }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ phone.id) }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No phones found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

