{% extends 'base.html.twig' %}

{% block title %}Edit User CSV{% endblock %}

{% block body %}
    <h1>Edit User CSV</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.Last_Name) }}
        {{ form_widget(form.Last_Name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.First_Name) }}
        {{ form_widget(form.First_Name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.Middle_Name) }}
        {{ form_widget(form.Middle_Name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.Age) }}
        {{ form_widget(form.Age, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.Username) }}
        {{ form_widget(form.Username, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.Password) }}
        {{ form_widget(form.Password, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('user_csv_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}