{% extends 'base.html.twig' %}

{% block title %}User CSV List{% endblock %}

{% block body %}
    <h1>User CSV List</h1>

    <div class="row">
        <div class="col-md-12">
            <h2>Filter and Sort</h2>
            {{ form_start(filterForm, {'attr': {'id': 'filter-form'}}) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(filterForm.filterField, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.filterValue, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.sortBy, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.sortOrder, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                </div>
            </div>
            {{ form_end(filterForm) }}
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Age</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.Last_Name|default('') }}</td>
                <td>{{ user.First_Name|default('') }}</td>
                <td>{{ user.Middle_Name|default('') }}</td>
                <td>{{ user.Age|default('') }}</td>
                <td>{{ user.Username|default('') }}</td>
                <td>{{ user.Password|default('') }}</td>
                <td>
                    <a href="{{ path('user_csv_edit', {'id': loop.index0}) }}" class="btn btn-primary">Edit</a>
                    <form action="{{ path('user_csv_delete', {'id': loop.index0}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loop.index0) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No users found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_csv_new') }}" class="btn btn-primary">Add New User</a>
{% endblock %}