{% extends 'base.html.twig' %}

{% block title %}Добавить пользователя в CSV{% endblock %}

{% block body %}
    <h1>Добавить пользователя в CSV</h1>

    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.middleName) }}
            {{ form_widget(form.middleName, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.age) }}
            {{ form_widget(form.age, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(form) }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}