{% extends 'base.html.twig' %}

{% block title %}Чат с поддержкой{% endblock %}

{% block body %}
    <div class="container bootstrap snippets bootdey">
        <div class="row justify-content-center">
            <div class="col-md-8 bg-white">
                <!-- Добавляем заголовок -->
                <div class="chat-header text-center py-3">
                    <h2 class="mb-0">Чат службы поддержки</h2>
                    <small class="text-muted">Мы всегда готовы вам помочь!</small>
                </div>

                <div class="chat-message">
                    <ul class="chat" id="chat-messages">
                        {% for message in messages %}
                            <li class="{% if message.sender == app.user %}right{% else %}left{% endif %} clearfix">
                                <span class="chat-img pull-{% if message.sender == app.user %}right{% else %}left{% endif %}">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{ message.sender.username }}</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ message.createdAt|date('Y-m-d H:i') }}</small>
                                    </div>
                                    <p>{{ message.content }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="chat-box bg-white">
                    {{ form_start(form, {'attr': {'id': 'chat-form'}}) }}
                    <div class="input-group">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control border no-shadow no-rounded', 'placeholder': 'Type your message here', 'id': 'message-content'}}) }}
                        <span class="input-group-btn">
                            <button class="btn btn-success no-rounded" type="submit">Send</button>
                        </span>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}