<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<aside>
    <a href="{{ path('homepage') }}" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">Домашняя Страница</a>

    {% if app.user %}
        <a href="{{ path('app_profile') }}" class="{% if app.request.attributes.get('_route') == 'app_profile' %}active{% endif %}">Профиль</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="#" onclick="toggleSubmenu('employee_directory')" id="employee_directory-link" class="has-submenu {% if app.request.attributes.get('_route') == 'employee_directory_index' %}active{% endif %}">Справочник сотрудников</a>
            <div class="submenu" id="employee_directory">
                <a href="{{ path('employee_directory_index') }}">Таблица</a>
            </div>

            <a href="#" onclick="toggleSubmenu('phone_list')" id="phone_list-link" class="has-submenu {% if app.request.attributes.get('_route') == 'phone_index' %}active{% endif %}">Телефонный справочник</a>
            <div class="submenu" id="phone_list">
                <a href="{{ path('phone_index') }}">Таблица</a>
            </div>

            <a href="#" onclick="toggleSubmenu('user_index')" id="user_index-link" class="has-submenu {% if app.request.attributes.get('_route') == 'user_index' %}active{% endif %}">Пользователи</a>
            <div class="submenu" id="user_index">
                <a href="{{ path('user_index') }}">Таблица</a>
            </div>

            <a href="{{ path('settings_edit') }}" class="{% if app.request.attributes.get('_route') == 'settings_edit' %}active{% endif %}">Настройки</a>
        {% endif %}

        <a href="{{ path('app_register') }}" class="{% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}">Регистрация</a>
        <a href="{{ path('app_login') }}" class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">Войти в профиль</a>

        <!-- Добавляем кнопку "Выйти" -->
        <a href="{{ path('app_logout') }}" class="logout-button">Выйти</a>
    {% else %}
        <a href="#" onclick="toggleSubmenu('employee_directory')" id="employee_directory-link" class="has-submenu {% if app.request.attributes.get('_route') == 'employee_directory_index' %}active{% endif %}">Справочник сотрудников</a>
        <div class="submenu" id="employee_directory">
            <a href="{{ path('employee_directory_index') }}">Таблица</a>
        </div>

        <a href="#" onclick="toggleSubmenu('phone_list')" id="phone_list-link" class="has-submenu {% if app.request.attributes.get('_route') == 'phone_index' %}active{% endif %}">Телефонный справочник</a>
        <div class="submenu" id="phone_list">
            <a href="{{ path('phone_index') }}">Таблица</a>
        </div>

        <a href="#" onclick="toggleSubmenu('user_index')" id="user_index-link" class="has-submenu {% if app.request.attributes.get('_route') == 'user_index' %}active{% endif %}">Пользователи</a>
        <div class="submenu" id="user_index">
            <a href="{{ path('user_index') }}">Таблица</a>
        </div>

        <a href="{{ path('app_register') }}" class="{% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}">Регистрация</a>
        <a href="{{ path('app_login') }}" class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">Войти в профиль</a>
    {% endif %}
</aside>

<div class="content">
    {% block body %}
        <h1>Добро пожаловать!</h1>
    {% endblock %}
</div>

{% block javascripts %}
    <script>
        function toggleSubmenu(id) {
            var submenu = document.getElementById(id);
            var link = document.getElementById(id + '-link');
            if (submenu.style.display === 'block') {
                submenu.style.display = 'none';
                link.classList.remove('open');
            } else {
                submenu.style.display = 'block';
                link.classList.add('open');
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var currentRoute = window.location.pathname;

            if (currentRoute.includes('employees')) {
                toggleSubmenu('employee_directory');
            } else if (currentRoute.includes('phones')) {
                toggleSubmenu('phone_list');
            } else if (currentRoute.includes('users')) {
                toggleSubmenu('user_index');
            } else if (currentRoute.includes('settings')) {
                toggleSubmenu('settings');
            }
        });
    </script>
{% endblock %}
</body>
</html>