<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<header>
    <!-- Основное меню -->
    <nav class="main-menu">
        <div class="menu-left">
            <a href="{{ path('homepage') }}" class="nav-link {{ app.request.attributes.get('_route') == 'homepage' ? 'active' : '' }}">Главная</a>
            {% if app.user %}
                <a href="{{ path('app_profile') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_profile' ? 'active' : '' }}">Профиль</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" onclick="toggleSubmenu('tables')" id="tables-link" class="nav-link has-submenu {{ app.request.attributes.get('_route') starts with 'employee_directory_index' or app.request.attributes.get('_route') starts with 'phone_index' or app.request.attributes.get('_route') starts with 'user_index' ? 'active' : '' }}">Таблицы</a>
                    <div class="submenu" id="tables" style="position: absolute; top: 100%; left: 10%;">
                        <a href="{{ path('employee_directory_index') }}" class="nav-link {{ app.request.attributes.get('_route') == 'employee_directory_index' ? 'active' : '' }}">Сотрудники</a>
                        <a href="{{ path('phone_index') }}" class="nav-link {{ app.request.attributes.get('_route') == 'phone_index' ? 'active' : '' }}">Телефоны</a>
                        <a href="{{ path('user_index') }}" class="nav-link {{ app.request.attributes.get('_route') == 'user_index' ? 'active' : '' }}">Пользователи</a>
                    </div>
                    <a href="{{ path('settings_edit') }}" class="nav-link {{ app.request.attributes.get('_route') == 'settings_edit' ? 'active' : '' }}">Настройки</a>
                {% endif %}
            {% else %}
                <a href="{{ path('app_register') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">Регистрация</a>
                <a href="{{ path('app_login') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">Войти в профиль</a>
            {% endif %}
        </div>
        <div class="menu-right">
            {% if app.user %}
                <div class="logout-container">
                    <a href="{{ path('app_logout') }}" class="logout-button">Выйти</a>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<div class="content">
    {% block body %}
        <h1>Добро пожаловать!</h1>
    {% endblock %}
</div>

<script>
    // Функция для переключения видимости подменю
    function toggleSubmenu(id) {
        var submenu = document.getElementById(id);
        var link = document.getElementById(id + '-link');
        if (submenu.style.display === 'block') {
            submenu.style.display = 'none'; // Скрываем подменю
            link.classList.remove('open');
        } else {
            submenu.style.display = 'block'; // Показываем подменю
            link.classList.add('open');
        }
    }

    // Автоматическое открытие подменю в зависимости от текущего маршрута
    document.addEventListener('DOMContentLoaded', function() {
        var currentRoute = window.location.pathname;

        if (currentRoute.includes('employees') || currentRoute.includes('phones') || currentRoute.includes('users')) {
            toggleSubmenu('tables');
        }
    });
</script>
</body>
</html>