{% extends 'base.html.twig' %}

{% block title %}New Employee Directory{% endblock %}

{% block body %}
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Создать нового сотрудника</p>
            </div>

            <div class="form-content">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.lastName, 'Фамилия:') }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.firstName, 'Имя:') }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.middleName, 'Отчество:') }}
                            {{ form_widget(form.middleName, {'attr': {'class': 'form-control', 'placeholder': 'Отчество'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.position, 'Должность:') }}
                            {{ form_widget(form.position, {'attr': {'class': 'form-control', 'placeholder': 'Должность'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.telegramId, 'Telegram ID:') }}
                            {{ form_widget(form.telegramId, {'attr': {'class': 'form-control', 'placeholder': 'Telegram ID'}}) }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit">Сохранить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a href="{{ path('employee_directory_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}