{% extends 'base.html.twig' %}

{% block title %}Add New User{% endblock %}

{% block body %}
    <h1>Add New User</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.middleName) }}
        {{ form_widget(form.middleName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.age) }} <!-- Добавляем поле age -->
        {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}