{% extends 'base.html.twig' %}

{% block title %}Add New User{% endblock %}

{% block body %}
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Добавить пользователя</p>
            </div>

            <div class="form-content">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.lastName, 'Фамилия:') }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.firstName, 'Имя:') }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.middleName, 'Отчество:') }}
                            {{ form_widget(form.middleName, {'attr': {'class': 'form-control', 'placeholder': 'Отчество'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.age, 'Возраст:') }}
                            {{ form_widget(form.age, {'attr': {'class': 'form-control', 'placeholder': 'Возраст'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.username, 'Имя пользователя:') }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Имя пользователя'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password, 'Пароль:') }}
                            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Пароль'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.roles, 'Роль:') }}
                            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit">Добавить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
